*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html, body
{
    width: 100%;
    background-color: rgb(238, 238, 238);
    
}

html
{
    scroll-behavior: smooth;
}


/* navbar starts */

nav
{
    /* border: 1px solid red; */
    display: inline;
    padding: 20px;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    box-shadow: 1px 0px 20px 0px rgba(189, 186, 186, 0.66);
    background-color: white;
    z-index: 2;
}

nav ul
{
    /* border: 8px solid green; */
    display: inline;
    margin-left: 380px;
}

nav ul li
{
    /* border: 1px solid yellow; */
    display: inline;
}

nav .family-logo
{
    /* border: 2px solid rebeccapurple; */
    display: inline-block;
    margin-left: 60px;

}

nav .family-logo a
{
    font-size: 30px;
    font-weight: 600;
    color: #24325d;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

nav ul li a
{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    margin-left: 35px;
    color: #24325d;
    transition: color .5s;
    
}

nav ul li a:hover
{
    color: #006fbe;
}
/* navbar ends */

/* bg event starts */
.eve
{
    margin: 10px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.eve h1{
    font-weight: 300;
}

.eve h2
{
    font-weight: 180;
    font-size: 17px;
    padding-top: 10px;
    letter-spacing: 1px;
}
#Home
{
    text-decoration: none;
    color: #006fbe;
}
#Home:hover
{
    color: #599fd1;
}

/* bg event ends */

/* contact starts */

.contact
{
    width: 100%;
    height: 900px;
    background-color: white;
}

.contact .map
{
    margin: 0px 60px;
    /* margin-top: 50px; */
}

.map iframe
{
    margin-top: 70px;
}



.C1
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /* margin-bottom: 200px; */
    /* margin: 50px 20px; */
    padding: auto;
    margin-left: 100px;
}
.D 
{
    /* border: 2px solid blue; */
    height: 400px;
    width: 60px;
    margin-top: 96px;
    margin-right: 10px;
}

.d1 
{
    /* border: 2px solid red; */
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background-color: rgb(211, 229, 235);
    text-align: center;
    margin-bottom: 46px;
}
.d1 i
{
    color: #006fbe;
    padding: 14px 0px;
    font-size: 22px;
    
}

.D1
{
    background-color: white;
    border: 4px solid rgb(48, 2, 94);
    margin: 50px 0px;
    padding: 50px 0px;
    width: 807px;
    height: 400px;
}
.D1 h1
{
    font-size: 22px;
    font-weight: 600;
    color: rgb(56, 55, 55);
}
.D1 p
{
    margin-left: 14px;
}

.D2
{
    background-color: white;
    border: 3px solid rgb(107, 98, 98);
    margin: 50px;
    padding: 20px 0px;
    width: 162%;
    height: 400px;
}
input{
    width: 214px;
    height: 46px;
    margin: 10px 5px;
}

.em{
    width: 423px;
}

#Tx{
    margin: 6px;
}

.btn{
    background-color: rgb(17, 189, 74);
    margin: 10px;
    margin-left: 150px;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    

}
/* contact ends */

/* Footer start */

.footer
{
    height: 310px;
    background: #1d284b;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 30px 0;
    /* border: 2px solid red; */
    font-family: "Open Sans", sans-serif;
}

.footer h2
{
    font-size: 38px;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    margin: 0 0 15px 0;
}

.footer .footer-para
{
    font-size: 16px;
    font-style: italic;
    margin: 0 0 40px 0;
}

.footer-icon
{
    /* border: 2px solid red; */
    margin: 30px;
}

.footer-icon .footer-icon-i
{
    font-size: 20px;
    display: inline-block;
    background: #006fbe;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.footer .copyright
{
    margin-bottom: 5px;
}
/* Footer end */


/* scroll arrow starts */
.scroll-arrow
{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: #006fbe;
    /* border: 2px solid yellow; */
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}

.scroll-arrow a{
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    text-decoration: none;
    padding: 0px 20px;
}

/* scroll arrow ends */